.first_row{
    
    height: 60px;
    width: 101%;
    background-color:black;
    color: white;
    padding-top: 15px;
    padding-left: 40px;
    /* border: blue solid; */

}
.bck
{
    width: 101%;
    /* border: solid green; */
}
.toppb
{    
     /* overflow: hidden; */
     /* border: solid purple; */
     position: relative;
     z-index: -1;
     margin-left: -1%;
     width: 101%;
}

/* --------------------------------------------------NavBar---------------------------------------------------- */
.my_menu{
    margin-left: 16%;
}
.my_menu ul {
    background-color: #F8E3AC;
    height: 35px;
    width: 85%;
    padding-top: 3px;
    padding-left: 30px;
    border-radius: 50rem;    
}
.my_menu ul li{
    display: inline;
    
}
.my_menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 12px;
    font-weight:500;    
}
 .my_menu a{
    color: black;
}
.my_menu a:hover{
    color: rgb(198, 17, 17);
}

/* ----------------------------------------Poster+video------------------------------------------- */
.posters{
    width: 100%;
    height: 350px;
}
.title{
    font-size: 25px;
    font-weight: bold;
    color:  rgb(198, 17, 17);
    text-transform: uppercase;
    margin-top: -2%;
}
.mybtn{
    border: solid;
}

/* ---------------------------------------Chancellor's Message------------------------------------- */

.img{
    background-image:url(pic/bkc.png);
    margin-top: 5%;
}
.mar_man{
    margin-left: 10%;
    margin-top: 20%;
    margin-right: 20%;
}
.head{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.content{
    text-align: justify;
    color: white;
}
.my_btn{
    border: solid  rgb(198, 17, 17);
}

/* --------------------------------------------Cards----------------------------------------------- */

.card_title{
    font-size: 30px;
    font-weight: bold;
    color:  rgb(198, 17, 17);
    text-transform:uppercase;
}
.ma_card{
 margin-top: 10%;   
 /* height: 400px; */
 /* width: 100%; */
 box-shadow: 1px 1px 5px 1px ;
}
.card_head{
    font-weight: bold;
    font-size: 18px;
    color:  rgb(198, 17, 17);
    text-transform: capitalize;
    margin-top:1%;
    padding-left: 3%;
}
.ctext{
    font-weight: 500;
    font-size: 15px;
    margin-top: 6%;
    padding-left: 3%;
}

/* <!-- -------------------------------------------MAP---------------------------------------------- --> */
.mape{
    width:90%;
    height:300px;
    border:none;
}

.prediv{
    margin-top: 8%;
}
.maphead{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(198, 17, 17);
}
.btn1{
    margin-top: 5%;
}

/* <!-- ----------------------------------------UNDERMAP-------------------------------------- --> */

.crd{
    margin-top: 5%;
}
.smcard{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 20px;
}
.hylight{
    color:  rgb(198, 17, 17);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/* <!-- -----------------------------------------EVENTS------------------------------------- --> */

.ehead{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(198, 17, 17);
}
.eshead{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn2{
    border: solid;
    margin-top: -10px;
    margin-right: 1%;
    float: right;
}
   /* -----------------------------------------events cards--------------------------------------   */

.cardiv{
    margin-top: 3%;
}
.div2{
    margin-top: 40%;
}
.card_head1{
    font-weight: bold;
    color: rgb(198, 17, 17);
    text-transform: capitalize;
    margin-top:2%;
    padding-left: 3%;
}
.ctext1{
    font-weight: 500;
    font-size: 18px;
    margin-top: 6%;
    padding-left: 3%;
}
.edu{
    padding-left: 30px;
    color: rgb(198, 17, 17);
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
}
.ctext2{
     color: brown;
     font-size: 17px;
     text-transform: capitalize;
     padding-left: 30px;
     
}
.btn3{
    color: white;
    background-color: transparent;
    padding-left: 30px;
    margin-left: 5%;
}
.bnt{
    color: red;
}

/* -------------------------------------------card+flex----------------------------------------------- */
.carr{
    max-width: 350px;
}

.checked {
    color: orange;
  }

.star{
    padding-left: 30px;
    padding-top: 30px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.img1{
    background-image: url(pic/photo_2023-08-03_10-06-09.jpg);
    height: 40vh;
    color: black;
    /* margin-top: 5%; */
    opacity: .2;
    /* position: relative; */
    /* z-index: 1; */
    /* background-color: red; */
}
.divv{
    position: absolute;
    z-index: 99;
    bottom: 390px;
    text-align: center;
    left: 80px;
    /* border: solid; */
    /* top: 20%; */
}

.divv h1{
    color: #EAA07D;
}

.fluid{
    /* overflow: hidden; */
    margin-top: 5%;
    height: 40vh;
    background-color:  rgb(198, 17, 17);
    opacity: .9;
    position: relatve;
    z-index: 1;
}
.headd{
    margin-left: 15%;
    margin-bottom: 10%;
}
.ctitle{
    padding-top: 20px;
    padding-left: 10px;
    font-weight: bold;
    color:  rgb(198, 17, 17);
}
.ctitle1{
     padding-left: 12px;
     font-weight: 500;
     opacity: .3;
     text-transform: capitalize;
    /* padding-top: -5px */
}
.carddivv
{
    margin-top: 3%;
    display: flex;
    margin-left: 7%;
    margin-top: -5%;
    position: relative;
    z-index: 2;
}
   /* ---------------------------------------bottomcontact--------------------------------------- */
.maindiv{
    margin-left: 30%;
    margin-top: 10%;
    border: solid black;
    width: 40%;
}
.maindivv{
    display: flex;
}
.h55{
    font-size: 15px;
    padding-left: 30px;
    padding-top: 5px;
}
.last2div{
     margin-top: 10%;
     margin-left: 30%;
     width: 50%;
} 
.lh3{
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    color: rgb(198, 17, 17);
}
.lh5{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;

}
.lastimg{
    width: 10px;
    margin-left: 10%;
   }

   /* <!-- -------------------------------------------------fotter----------------------------------------------------------- --> */
.footer{
    background-color: rgb(198, 17, 17);
    height: 40px;
    padding-top:10px;
    padding-left: 200px;
}
.foot{
    font-size: 13px;
    color: white;
    font-weight: 400;
}   